*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
$color-white:#ffffff;


@mixin button{
    padding: 11px 40px;
    border: none;
    outline: none;
    border-radius: 0.4285rem;
    font-size: 14px;
    font-weight: 600;
    transition: all .15s ease;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
}
body{
    background: #1e1e2f;
}
.sidebar-mini{
    display: none;
}
#list{
    font-size: 20px;
    color: $color-white;
    display: none;
    cursor: pointer;
}
.navbar{
    .navbar-mini{
        display: none;
        padding: 15px;
        background-color: $color-white;
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        .nav-min{
            padding-left: 30px;
            .dropdown-nav-min{
                display: flex;
                align-items: center;
                color: #222a42;
                font-weight: 300;
                cursor: pointer;
                .notification{
                    width: 100%;
                    .title-notification{
                        display: flex;
                        align-items: baseline;
                        margin-left: 10px;
                        span{
                            margin-left: 10px;
                        }
                    }
                    .notification-info{
                        display: none;
                        padding-left: 30px;
                        .nav-link{
                            padding: 10px 24px;
                            list-style: none;
                            a{
                                color: #222a42;
                                text-decoration: none;
                                font-size: 13px;
                            }
                        }
                        .nav-link:hover{
                            background: #eee;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
                .profile-nav-mini{
                    .profile-setting{
                        display: flex;
                        align-items: center;
                    }
                    display: flex;
                    span{
                        margin-left: 10px;
                    }
                }
            }
            .dropdown-nav-min:not(:last-child){
                margin-bottom: 20px;
            }

            .profile-nav-mini{
                width: 100%;
                display: flex;
                flex-direction: column;
                .dropdown-nav-profile{
                    display: none;
                    padding-left: 50px;
                    margin-top: 10px;
                    .nav-setting{
                        padding: 10px 24px;
                        list-style: none;
                        a{
                            color: #222a42;
                            text-decoration: none;
                            font-size: 13px;
                        }
                    }
                    .nav-setting:hover{
                        background: #eee;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    .left-navbar{
        display: flex;
        align-items: center;
        .iconSidebar{
            position: fixed;
            font-size: 25px;
            color: $color-white;
            cursor: pointer;
        }
        h3{
            padding: 0 45px;
            color: $color-white;
            font-weight: 100;
        }

    }
    .right-navbar{
        display: flex;
        align-items: center;
        .icon-navbar{
            display: flex;
            flex-direction: row;
            padding: 0 20px;
            .icon1_dropdown{
                #icon1{
                    cursor: pointer;
                    padding: 0 10px;
                    color: $color-white;
                }
                #icon1:hover{
                    color: #fd5d93;
                    transition: all 0.5s;
                }
            }
            .icon2_dropdown{
                position: relative;
                #icon2{
                    cursor: pointer;
                    padding: 0 10px;
                    color: $color-white;
                }
                #icon2:hover{
                    color: #fd5d93;
                    transition: all 0.5s;
                }
                .icon-dropdown-waves{
                    position: absolute;
                    border-radius: 5px;
                    width: 300px;
                    top: 30px;
                    right: 0;
                    background: $color-white;
                    padding: 10px 10px;
                    z-index: 1;
                    transform: translateY(-280px);
                    transition: all 0.3s;
                    .text-icon2{
                        ul{
                            li{
                                padding: 8px 5px;
                                list-style: none;
                                margin-top: 5px;
                                a{
                                    font-size: 12px;
                                    color: #9a9a9a;
                                    text-decoration: none;
                                    padding: 0px 15px;
                                }
                            }
                            li:hover{
                                background: #eee;
                                transition: all 0.3s ease-in-out;
                            }
    
                            .dropdown-divider{
                                border-top: 1px solid #e9ecef;
                                padding: 0;
                            }
                        }
                    }
                }
                .icon-dropdown-waves::before{
                    content: "";
                    position: absolute;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 5px solid $color-white;
                    top: -5px;
                    right: 10px;
                    transform: translate(-50%);
                }
            }
        }

        .profile_admin{
            position: relative;
            display: flex;
            align-items: center;
            img{
                border-radius: 50%;
                margin: 0 2px;
            }
            #icon-admin{
                color: $color-white;
                cursor: pointer;
            }
            #icon-admin:hover{
                color: #fd5d93;
                transition: all 0.3s;
            }
            .dropdown-profile{
                border-radius: 5px;
                position: absolute;
                width: 140px;
                right: -12px;
                background: $color-white;
                padding: 10px 10px;
                transform: translateY(-110px);
                z-index: 1;
                transition: all 0.3s;
                ul{
                    li{
                        padding: 8px 5px;
                        list-style: none;
                        margin-top: 5px;
                        a{
                            font-size: 12px;
                            color: #9a9a9a;
                            text-decoration: none;
                            padding: 0px 15px;
                        }
                    }
                    li:hover{
                        background: #eee;
                        transition: all 0.3s ease-in-out;
                    }

                    .dropdown-divider{
                        border-top: 1px solid #e9ecef;
                        padding: 0;
                    }
                }
            }
            .dropdown-profile::before{
                content: "";
                position: absolute;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid $color-white;
                top: -5px;
                right: 10px;
                transform: translate(-50%);
            }
        }
    }
}
.sidebar{
    background: linear-gradient(0deg,#ba54f5,#e14eca);
    height: 100%;
    width: 80px;
    position: fixed;
    left: 0;
    z-index: 1;
    box-shadow: 0 0 45px 0 rgba(0,0,0,.6);
    margin-left: 20px;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    .sidebar-wrapper{
        .logo{
            border-bottom: 2px solid $color-white;
            width: calc(100% - 20px);
            margin: 0 auto;
            display: flex;
            text-align: center;
            padding: 20px 5px;
            transition: all 0.3s;
            h3{
                padding: 0 10px;
                color: $color-white;
            }
            h3:nth-child(2){
                display: none;
                overflow: hidden;
            }

        }
        .nav{
            padding: 20px 0;
            li{
                position: relative;
                list-style: none;
                opacity: 0.8;
                a{
                    padding: 20px 10px;
                    display: flex;
                    align-items: center;
                    margin-left: 20px;
                    gap: 20px;
                    text-decoration: none;
                    color: $color-white;
                    p{
                        font-size: 10px;
                        display: none;
                        overflow: hidden;
                    }
                }

            }
            .active::before{
                content: " ";
                position: absolute;
                height: 6px;
                width: 6px;
                top: 23px;
                left:4px;
                background: #fff;
                border-radius: 50%;
                margin-left: 10px;
            }

            li:hover{
                opacity: 1;
            }
        }

    }
}
.sidebar::before{
    content: "";
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #e14eca;
    top: -5px;
    left: 40px;
    transform: translate(-50%);
}
.color-top{
    top: 0;
    position: fixed;
    height: 0.1rem;
    background: #e24eca;
    width: 100%;
    z-index: 5;
}
.container{

    width: calc(100% - 260px);
    float: right;
    padding: 0 100px 0 0;
    .title-body{
        text-align: center;
        padding: 15px 15px 10px;
        h3{
            color: hsla(0,0%,100%,.8);
            font-size: 1.5rem;
            color: $color-white;
            font-weight: 100;
        }
        h5{
            color: hsla(0,0%,100%,.8);
            font-weight: 100;
            margin-top: 20px;
            font-size: 1.3rem;
        }
    }
    .progressBar{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .progress-step{
            position: relative;
            background: $color-white;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .progressActive{
            background: #e14eca;
            color: $color-white;
            #iconProgress{
                color: $color-white;
            }
        }
        #iconProgress{
            color: #e14eca;
        }
    }
    .progressBar::before , .progress{
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 4px;
        width: 100%;
        background: $color-white;
    }
    .progress{
        background: #e14eca;
        width: 0%;
    }
    .progress-step::after{
        content: attr(data-title);
        position: absolute;
        top: calc(100% + 0.75rem);
        font-size: 0.85rem;
        color: $color-white;
    }
    @keyframes animate {
        from{
            transform: scale(1.0);
            opacity: 0;
        }
        to{
            transform: scale(1.1.9);
            opacity: 1;
        }
    }
    .form{
        margin: 50px 0;
        padding: 20px;
        border-radius: 0.4285rem;
        background: #222a42;
        transform-origin: top;
        animation: animate 0.5s;
        h4{
            text-align: center;
            color: #ffffffcc;
            font-size: 14px;
            font-weight: 100;
            margin: 10px 0 30px;
        }
        .from-step{
            padding:15px 30px;
            transform-origin: top;
            animation: animate 0.5s;
            .input-group{
                display: flex;
                gap: 10px;
                .input-group-one{
                    position: relative;
                    display: flex;
                    width: 100%;
                    border: 1px solid #344675;
                    border-radius: 5px;
                    opacity: 0.5;
                    #icon-input1{
                        padding: 10px;
                        color: #FFF;
                    }
                    input{
                        padding: 5px;
                        border: none;
                        outline: none;
                        background: transparent;
                        width: 100%;
                        color: #FFF;
                    }
    
                }
                .input-group-two{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    border: 1px solid #344675;
                    border-radius: 5px;
                    opacity: 0.5;
                    gap: 10px;
                    #icon-input2{
                        padding: 10px;
                        color: #FFF;
                    }
                    input{
                        padding: 5px;
                        border: none;
                        outline: none;
                        background: transparent;
                        width: 100%;
                        color: #FFF;
                    }
    
                }
                .input-group-two:focus-within{
                    border:2px solid #e14eca;
                    transition: all 0.1s;
                }
            }
            .input-group-one:focus-within{
                border:2px solid #e14eca;
                transition: all 0.1s;
            }
            .input-group2{
                display: flex;
                gap: 10px;
                margin-top: 10px;
                .input-group-one{
                    position: relative;
                    display: flex;
                    width: 100%;
                    border: 1px solid #344675;
                    border-radius: 5px;
                    opacity: 0.5;
                    #icon-input1{
                        padding: 10px;
                        color: #FFF;
                    }
                    input{
                        padding: 5px;
                        border: none;
                        outline: none;
                        background: transparent;
                        width: 100%;
                        color: #FFF;
                    }
    
                }
                .input-group-one:focus-within{
                    border:2px solid #e14eca;
                    transition: all 0.1s;
                }
                .input-group-two{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    border: 1px solid #344675;
                    border-radius: 5px;
                    opacity: 0.5;
                    gap: 10px;
                    #icon-input2{
                        padding: 10px;
                        color: #FFF;
                    }
                    input{
                        padding: 5px;
                        border: none;
                        outline: none;
                        background: transparent;
                        width: 100%;
                        color: #FFF;
                    }
    
                }
                .input-group-two:focus-within{
                    border:2px solid #e14eca;
                    transition: all 0.1s;
                }
            }
            .button{
                text-align: right;
                padding:40px 0 0 0;
                .btn-next{
                    @include button;
                    background: #e14eca;
                    background-image: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
                    background-size: 210% 210%;
                    background-position: 100% 0;
                }
                button:hover{
                    box-shadow: 2px 2px 6px rgba(0,0,0,.4);
                    transform: translateY(-1px);
                    -webkit-transform: translateY(-1px);
                }
            }
            .input-groupPosition2{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                img{
                    position: relative;
                    width: 300px;
                    height: 100%;
                    border-radius: 0.2857rem;
                }
                .btns{
                    display: flex;
                    gap: 10px;
                    .btnFile{
                        cursor: pointer;
                        position: relative;
                        color: #e14eca;
                        border-color: #e14eca;
                        background: transparent;
                        border: 1px solid;
                        box-shadow: none;
                        padding: 10px 22px;
                        border-radius: 0.4285rem;
                        input{   
                            position: absolute;
                            right: 0%;
                            width: 141px;
                            height: 100%;
                            bottom: 0;
                            margin: 0;
                            font-size: 23px;
                            cursor: pointer;
                            filter: alpha(opacity=0);
                            opacity: 0;
                            direction: ltr;
                        }
                    }
                    .btnsFile{
                        background: #fd5d93;
                        background-image: linear-gradient(to bottom left,#fd5d93,#ec250d,#fd5d93);
                        background-size: 210% 210%;
                        background-position: 100% 0;
                        background-color: #fd5d93;
                        transition: all .15s ease;
                        box-shadow: none;
                        padding: 11px 40px;
                        border: none;
                        outline: none;
                        border: none;
                        overflow: hidden;
                        margin: 4px 1px;
                        border-radius: 20px;
                        cursor: pointer;
                        color: $color-white;
                        #remove{
                            background: transparent;
                            color: $color-white;
                            cursor: pointer;
                            border: none;
                            outline: none;
                            font-size: .875rem;
                        }
                    }
                }
            }

            /* input three */

            .input-groupPosition3{
                .input-group3{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .input3{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        gap: 10px;
                        label{
                            color: #ffffff99;
                            font-size: 12px;
                        }
                        #in1{
                            flex: 0 0 70%;
                            border: 1px solid #344675;
                            background: transparent;
                            padding: 10px;
                            color: $color-white;
                            outline: none;
                            border-radius: 5px;
                        }
                        #in2{
                            @extend #in1;
                        }
                        #in1:focus-within{
                            border:2px solid #e14eca;
                            transition: all 0.1s;
                        }
                    }
                }
            }
        }
        .from-step{
            display: none;
        }
        .form-step-active{
            display: block;
        }
        .button2{
            padding:40px 0 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .btn-next{
                @include button;
                background: #e14eca;
                background-image: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
                background-size: 210% 210%;
                background-position: 100% 0;
            }
            .btn-prev{
                @include button;
                background: #344675;
                background-image: linear-gradient(to bottom left,#344675,#263148,#344675);
                background-size: 210% 210%;
                background-position: 100% 0;
            }
            button:hover{
                box-shadow: 2px 2px 6px rgba(0,0,0,.4);
                transform: translateY(-1px);
                -webkit-transform: translateY(-1px);
            }
        }
    }
    .footer{
        width: 100%;
        .container-fluid{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 40px 20px;
            .nav-footer{
                display: flex;
                .nav-item{
                    gap: 10px;
                    margin-left: 10px;
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: $color-white;
                        font-size: 15px;
                        font-weight: 100;
                    }
                    a:hover{
                        color: #e14eca;
                    }

                }
            }
            .copy-right{
                a{
                    text-decoration: none;
                    color: #ba54f5;
                }
                a:hover{
                    color: #e14eca;
                }
                h5{
                    color: $color-white;
                    font-weight: 100;
                }
            }
        }
    }
}
.fixed-plugin{
    position: fixed;
    right: 0;
    width: 64px;
    background: rgba(0,0,0,.3);
    z-index: 1031;
    border-radius: 8px 0 0 8px;
    text-align: center;
    top: 130px;

    #gear{
        cursor: pointer;
        font-size: 30px;
        padding: 10px;
        color: $color-white;
        animation: rotating 4s linear infinite;
    }
    .dropdown-show-dropdown{
        position: relative;
        transform: translateY(-550px);
        animation: all 0.5s ease-in-out;
        @keyframes rotating {
            from{
                transform: rotate(0deg);
            }
            to{
                transform: rotate(360deg);
            }
        }
        .dropdown-page{
            position: absolute;
            right: 70px;
            left: auto!important;
            top: -52px!important;
            width: 290px;
            border-radius: 0.1875rem;
            padding: 0 10px;
            background: linear-gradient(#222a42,#1d253b);
            .title-dropdown{
                h5{
                    color: $color-white;
                    padding-top: 20px;
                }
            }
            .badge-color{
                .color{
                    border: 2px solid #fff;
                    border-radius: 50%;
                    cursor: pointer;
                    display: inline-block;
                    height: 23px;
                    margin-right: 5px;
                    position: relative;
                    width: 23px;
                    margin-top: 10px;
                }
                .active{
                    border: #1d253b;
                }
            }
            .title-mid{
                color: $color-white;
                padding: 25px 0 0 0;
            }
            .toggle-switch{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
                padding: 10px;
                .switch{
                    font-size: 17px;
                    position: relative;
                    display: inline-block;
                    width: 50px;
                    height: 20px;
                    background-color: #1d253b;
                    border-radius: 16px;
                    input{
                        opacity: 1;
                        width: 0;
                        height: 0;
                    }
                    .slider{
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0px;
                        transition: .4s;
                        border-radius: 30px;
                    }
                    .slider::before {
                        position: absolute;
                        content: "";
                        height: 18px;
                        width: 18px;
                        border-radius: 16px;
                        left: 1.2px;
                        top: 0;
                        bottom: 0;
                        background-color: white;
                        transition: .4s;
                       }
                    input:checked + .slider:before {
                        transform: translateX(1.6em);
                    }
                }
            }
            .dark-ligth{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                .darkLight-switch{
                    font-size: 17px;
                    position: relative;
                    display: inline-block;
                    width: 50px;
                    height: 20px;
                    background-color: #1d253b;
                    border-radius: 16px;
                    input{
                        opacity: 1;
                        width: 0;
                        height: 0;
                    }
                    .slider{
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0px;
                        transition: .4s;
                        border-radius: 30px;
                    }
                    .slider::before {
                        position: absolute;
                        content: "";
                        height: 18px;
                        width: 18px;
                        border-radius: 16px;
                        left: 1.2px;
                        top: 0;
                        bottom: 0;
                        background-color: white;
                        transition: .4s;
                       }
                    input:checked + .slider:before {
                        transform: translateX(1.6em);
                    }
                }
            }
        }
        .btn-information{

            button{
                padding: 11px 40px;
                border-width: 2px;
                border: none;
                position: relative;
                overflow: hidden;
                margin: 10px 1px;
                border-radius: 50px;
                width: 100%;
                cursor: pointer;
                background: #344675;
                background-image: linear-gradient(to bottom left,#344675,#263148,#344675);
                background-size: 210% 210%;
                background-position: 100% 0;
                background-color: #344675;
                transition: all .15s ease;
                box-shadow: none;
                color: #fff;
                font-weight: 700;
            }
        }

        .text-end{
            padding: 18px 2px;
            color: $color-white;
            font-size: 12px;

        }
        .btn-socialMedia{
            display: flex;
            gap: 5px;
            button{
                padding: 11px 40px;
                border: none;
                overflow: hidden;
                margin: 20px 1px;
                border-radius: 50px;
                width: 100%;
                cursor: pointer;
                background: #1d8cf8;
                background-image: linear-gradient(to bottom left,#1d8cf8,#3358f4,#1d8cf8);
                background-size: 210% 210%;
                background-position: 100% 0;
                background-color: #344675;
                transition: all .15s ease;
                box-shadow: none;
                color: #fff;
                font-weight: 700;
            }

        }
    }

}
.dropdown-page::before{
    content: "";
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1d253b;
    top: 75px;
    right: -7.5px;
    transform: rotate(90deg);
}



@media (max-width:1200px) {
    .navbar{
        .left-navbar{
            .iconSidebar{
                position: relative;
            }
            h3{
                padding: 0 20px;
            }
        }
    }
    .container{
        padding: 0 30px;
        float: none;
        width: 100%;
    }
    .sidebar{
        display: none;
    }
    .sidebar-mini{
        position: fixed;
        width: 260px;
        height: 100%;
        z-index: 9999;
        left: -260px;
        background: linear-gradient(0deg,#ba54f5,#e14eca);
        transition: all .3s;
        display: block;
        .sidebar-wrapper{
            .logo{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 2px solid $color-white;
                width: calc(100% - 20px);
                margin: 0 auto;
                display: flex;
                text-align: center;
                padding: 20px 5px;
                .text-title{
                    display: flex;
                    h3{
                        padding: 0 10px;
                        color: $color-white;
                    }
                }

                .icon{
                    font-size: 20px;
                    color: $color-white;
                    cursor: pointer;
                }
            }
            .nav{
                padding: 20px 0;
                li{
                    position: relative;
                    list-style: none;
                    opacity: 0.8;
                    a{
                        padding: 20px 10px;
                        display: flex;
                        align-items: center;
                        margin-left: 20px;
                        gap: 20px;
                        text-decoration: none;
                        color: $color-white;
                        p{
                            font-size: 10px;
                        }
                    }

                }
                .active::before{
                    content: " ";
                    position: absolute;
                    height: 6px;
                    width: 6px;
                    top: 23px;
                    left:4px;
                    background: #fff;
                    border-radius: 50%;
                    margin-left: 10px;
                }

                li:hover{
                    opacity: 1;
                }
            }

        }
    }

}



@media (max-width:992px) {
    .navbar{
        .right-navbar{
            .icon-navbar{
                display: none;
            }
            .profile_admin{
                display: none;
            }
            #list{
                display: block;
                color: $color-white;
            }
        }
    }
}



@media (max-width:767px) {
    .container{
        .footer{
            .container-fluid{
                flex-direction: column;
                .nav-footer{
                    margin-bottom: 15px;
                }
            }
        }
    }
}


@media (max-width:567px){
    .container{
        .form{
            padding: 0;
            .from-step{
                .input-group{
                    flex-direction: column;
                }
                .input-group2{
                    flex-direction: column;
                }
                .input-groupPosition3{
                    .input-group3{
                        flex-direction: column;
                    }  
                } 
                .input-groupPosition2{
                    img{
                        width: 100%;
                    }
                    .btns{
                        flex-direction: column;
                    }
                }
                .button{
                    text-align: center;
                }
            }
            .button2{
                flex-direction: column-reverse;
                gap: 10px; 
            }
        }
    }
    .fixed-plugin{
        .dropdown-show-dropdown{
            .dropdown-page{
                width: 200px;
            }
            .btn-socialMedia{
                flex-direction: column;
                button{
                    margin: 1px;
                }
            }
        }
    }
}