*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
$color-white:#ffffff;
$color-copyRight:#ba54f5;

body{
    background-color: #1e1e2f;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .form{
        width: 400px;
        padding: 0 10px;
        .card-login{
                background-color: $color-white;
                border-radius: 10px;
            .card-header{
                position: relative;
                background-color: $color-white;
                border-radius: 10px;
                img{
                    background-color: $color-white;
                    width: 300px;
                    height: 200px;
                    border-radius: 10px;
                }
                h1{
                    position: absolute;
                    font-size: 60px;
                    top: 0;
                    background-color: transparent;
                    color: $color-white;
                    font-family: fantasy;
                    letter-spacing: 5px;
                }
            }
            .card-body{
                padding: 15px;
                .input-group{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    border: 1px solid rgba(29,37,59,.2);
                    border-radius: 8px;
                    margin-bottom: 10px;
                    .input-group-icon{
                        padding: 0 5px 0 10px;
                        color: rgba(29,37,59,.2);
                    }
                    input{
                        padding: 10px;
                        border: none;
                        outline: none;

                    }
                    ::placeholder{
                        color: rgba(29,37,59,.5);
                    }
                }
                .input-group:focus-within{
                    border:1px solid #e14eca;
                    transition: all 0.5s;
                }
                .input-group:focus-within .input-group-icon{
                    color: #e14eca;
                    transition: all 0.5s;
                }
            }
            .button{
                padding: 30px 15px 15px 15px;
                text-align: center;
                button{
                    border-radius: 5px;
                    cursor: pointer;
                    border: none;
                    outline: none;
                    color: $color-white;
                    font-size: 16px;
                    font-weight: bold;
                    width: 100%;
                    padding: 15px;
                    background-size: 210% 210%;
                    background-position: 100% 0;
                    background-image: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
                }
                button:hover{
                    box-shadow: 0 4px 6px rgba(50,50,93,.50), 0 1px 3px rgba(0,0,0,.10);
                    transition: all 0.3s;
                }
                .link-button{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 15px 5px;
                    a{
                        font-size: 12px;
                        color:#ba54f5;
                        text-decoration: none;
                    }
                    a:hover{
                        color:#e14eca;
                    }
                }
            }
        }
    }

}
.copy-right{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    padding: 30px 10px;
    .center-copyRight{
        a{
            color: $color-copyRight;
            text-decoration: none;
        }
        a:hover{
            color: #e14eca;
        }
    }
}
@media (max-width:500px) {
    .container{
        .form{
            width: 100%;
            .card-login{
                .card-header{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}